
    <header class="bg-secondary py-5">
      <div class="container px-4 px-lg-5 my-2">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">se connecter</h1>
          </div>
      </div>
    </header>
<div class="container-fluid">
   <br>
   <br>
   <br>
   
    <div class="row">
      <div class="col-3 offset-2">
        <h3>Nouveaux clients</h3>
        <hr />
        <br />
        <a routerLink="/signin" class="btn btn-secondary offset-1"
          >créer un compte
        </a>
      </div>
      <div class="col-4 offset-2">
        <h3>Déjà client ? Connectez-vous</h3>
        <hr />
        <br />
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
  
            <input type="email" id="form2Example1" class="form-control" />
          </div>
  
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
  
            <input type="password" id="form2Example2" class="form-control" />
          </div>
          <button type="button" class="btn btn-primary mb-4">Sign in</button>
        </form>
      </div>
    </div>
  </div>