<header class="bg-secondary py-5">
  <div class="container px-4 px-lg-5 my-2">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">se connecter</h1>
    </div>
  </div>
</header>
<div class="container-fluid">
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-3 offset-2">
      <h3>Nouveaux clients</h3>
      <hr/>
      <br/>
      <a routerLink="/signin" class="btn btn-secondary offset-1"
      >créer un compte
      </a>
    </div>
    <div class="col-4 offset-2">
      <h3>Déjà client ? Connectez-vous</h3>
      <hr/>
      <br/>
      <div class="alert alert-danger" *ngIf="erreur">{{ test }}</div>
      <form [formGroup]="angForm" (ngSubmit)="postdata()" autocomplete="off">
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>

          <input type="email"
                 id="form2Example1"
                 class="form-control"
                 name="email"
                 formControlName="email"
                 autocomplete="off"
                 required/>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>

          <input type="password"
                 id="form2Example2"
                 class="form-control"
                 name="password"
                 formControlName="password"
                 autocomplete="off"
                 required/>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Se Connecter</button>
      </form>
    </div>
  </div>
</div>
