<div class="container-fluid" style="background-color: cadetblue">
  <div class="row">
    <div class="col">
      <div class="card" style="background-color: cadetblue">
        <div class="card-body">
          <h5 class="card-title">VOTRE COMPTE</h5>
          <a href="#" class="text-black">Informations Personnelles</a> <br />
          <a href="#" class="text-black">Adresses</a> <br />
          <a href="#" class="text-black">Mes Commandes</a><br />
          <a href="#" class="text-black">
            <img
              src="assets/facebook_original_logo_icon_146526.png"
              width="30"
              height="30"
          /></a>
          <a href="#">
            <img src="assets/Instagram_icon.png.webp" width="30" height="30" />
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: cadetblue">
        <div class="card-body">
          <h5 class="card-title">CATÉGORIE</h5>
          <a href="#" class="text-black">FEMME</a> <br />
          <a href="#" class="text-black">HOMME</a> <br />
          <a href="#" class="text-black">SPORTSWEAR</a> <br />
          <a href="#" class="text-black">NOUVELLES COLLECTION</a> <br />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: cadetblue">
        <div class="card-body">
          <input type="email" placeholder="EMAIL" /> <br /><br />
          <textarea placeholder="Message .." style="padding: 11px"></textarea>
          <br />
          <br />
          <button>Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>
