<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">article</h1>
        </div>
    </div>
  </header>
  <br>
  <br>
<div class="container" >
    <div class="card" >
        <div class="form">
            <div class="left-side">
                
                    
         
                <div class="woman">
                    <h5>femme</h5> <i class="fa fa-angle-right"></i>
                    
                </div>
                <div class="images">
                    <div class="img_girl_left"> <i class="fa fa-angle-up"></i> <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg"></span> <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg"></span> <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg"></span> <i class="fa fa-angle-down"></i> </div> <span><img src="https://i.imgur.com/Rq0nf6K.jpg.jpg"></span>
                </div>
                
            </div>
            
            <div class="right-side">
                
               
                
                <h3>veste cuire</h3>
                <br>
                <h5>référence :  22ef47z6</h5>
                
                
                <div class="designer">
                    <h5>Color : </h5>
                    <p>noir</p>
                </div>
                <div class="color"> <span></span> <span></span> <span></span> </div>
                <div class="options">
                    <div class="size"> <select>
                            <option>Size : S</option>
                            <option>Size : M</option>
                            <option>Size : L</option>
                            <option>Size : XL</option>
                        </select> </div>
                </div>
                
                
                   <h4>150TND</h4>
                   <br>
                   <div class="form-group"> <label><span class="hidden-xs">
                    <h5>Quantité:</h5>
                </span></label>
            <div class="input-group"> <input type="number" placeholder="0" name="" class="form-control" required>  </div>
        </div>
                   
                
               <br>
                <div class="mb-3">
                    <a href="/continuation">
                        <button  type="button" class="btn btn-primary">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
          </svg>
                          ajouter au panier
                        </button></a></div>
                     
 </div>
        </div>
    </div>
</div>