<header class="bg-secondary py-5">
  <div class="container px-4 px-lg-5 my-2">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">créer compte</h1>
      </div>
  </div>
</header>
<div class="registration-form">
    <form class="was-validated" [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
      <h1 style="text-align: center">Créer Compte</h1>
      <hr />
      <p>Vous avez déja un compte ? <a href="/signup">Connectez-vous</a></p>
      <div class="alert alert-danger" *ngIf="err">{{message}} </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               name="gender"
               formControlName="gender"
               autocomplete="off"
               value="M" />
        <label class="form-check-label">M</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
               type="radio"
               name="gender"
               formControlName="gender"
               autocomplete="off"
               value="Mde"/>
        <label class="form-check-label">Mme</label>
      </div>
      <div class="form-group" style="margin-top: 14px">
        <input
          type="text"
          class="form-control item"
          id="Prenom"
          placeholder="Prenom"
          name="f_name"
          formControlName="f_name"
          autocomplete="off"
          required
        />

      </div>

      <div class="form-group" style="margin-top: 14px">
        <input type="text"
               class="form-control item"
               id="Nom"
               placeholder="Nom"
               name="l_name"
               formControlName="l_name"
               autocomplete="off"
               required/>


      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control item"
          id="email"
          placeholder="Email"
          name="email"
          formControlName="email"
          autocomplete="off"
          required

        />

                     <div class="invalid-feedback">respectez la forme adrese@domaine</div>
      </div>
      <div class="form-group">

        <input
          type="password"
          class="form-control item"
          id="Mot de passe"
          placeholder="Mot de passe"
          name="password"
          formControlName="password"
          autocomplete="off"
          required
        />

      </div>

      <div class="form-group">
        <input
          type="date"
          class="form-control item"
          id="birth-date"
          placeholder="Birth Date"
          name="datenaiss"
          formControlName="datenaiss"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block create-account" >
          Create Account
        </button>
      </div>
    </form>
  </div>

