


body {
    background: #eee;
    font-family: Assistant, sans-serif
}

.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box
}


button{
  background-color: aqua;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  
}




