<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">historique de vos commandes</h1>
        </div>
    </div>
  </header>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr style="background-color:rgb(194, 194, 194);" >
                               
                                <th>references de commandes</th>
                                <th>date </th>
                                <th>prix total</th>
                                <th>details </th>
                                
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr class="cell-1">
                                  <td>#SO-13487</td>
                                <td>21/07/2021</td>
                                <td>$2674.00</td>
                                <td><button>details</button></td>
                                
                               
                            </tr>
                            <tr class="cell-1">
                               
                                <td>#SO-13453</td>
                                <td>22/09/2021</td>
                                
                                <td>$3454.00</td>
                                <td><button>details</button></td>
                                
                            </tr>
                            <tr class="cell-1">
                               
                                <td>#SO-13498</td>
                                <td>07/10/2021</td>
                                <td>$6274.00</td>
                                <td><button>details</button></td>
                                
                            </tr>
                            <tr class="cell-1">
                               
                                <td>#SO-16499</td>
                                <td>11/09/2021</td>
                                <td>$6375.00</td>
                                <td><button>details</button></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>