<header class="bg-secondary py-5">
  <div class="container px-4 px-lg-5 my-2">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">adresse</h1>
      </div>
  </div>
</header>
  
  <div class="registration-form">
    <form class="was-validated">
      <div class="form-group offset-1" style="margin-top: 14px" width="20">
        <h4 style="text-align: center;">nouvelle adresse</h4> <hr> <br>
        <input
          type="text"
          class="form-control item"
          id="Prenom"
          placeholder="Prenom" required>
          <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>
      <div class="form-group offset-1" >
        <input type="text" class="form-control item" id="Nom" placeholder="Nom" required >
        <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>  
      <div class="form-group offset-1">
        <input
          type="tel"
          class="form-control item"
          id="Telephone"
          placeholder="Telephone" pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}" required>
          <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>
      <div class="form-group offset-1">
        <input
          type="text"
          class="form-control item"
          id="Pays"
          placeholder="Pays" required>
          <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>
      <div class="form-group offset-1">
        <input
          type="text"
          class="form-control item"
          id="Ville"
          placeholder="Ville" required>
          <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>
      <div class="form-group offset-1">
        <input
          type="password"
          class="form-control item"
          id="Delegation"
          placeholder="Delegation" required>
          <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>
      <div class="form-group offset-1">
        <input
          type="text"
          class="form-control item"
          id="Code Postal"
          placeholder="Code Postal" required>
          <div class="valid-feedback">valide</div>
          <div class="invalid-feedback">champ obligatoire</div>
      </div>
      <br>
      <div class="input-group offset-1" >
        <span class="custom-checkbox">
          <input name="optin" type="checkbox" value="1">
          <label>utiliser aussi cette adresse pour la facturation</label>
        </span>
      </div>
    <br>
      <div class="form-group offset-1">
       <a href="/confir-adr"> <button type="button" class="btn btn-block btn-primary  ">
       enregistrer
        </button></a>
      </div>
      

    </form>
  </div>