
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">confirmation de commande</h1>
        </div>
    </div>
  </header>


  <br>
  <br>
  <br>
  <br>
  <div class="offset-1">
  <div class="bg-success text-white"  >
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="70" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
  </svg>
  <span>votre commande est confirmé</span>
</div>
</div>
<br>
<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title"><h3>articles de la commande:</h3></div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix">
                                <div class="cart_item_image"><img src="assets/pant.jpg" alt=""></div>
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        
                                        <div class="cart_item_text"><h4>Name: pantalon</h4></div>
                                        <div class="cart_item_text"><h5>Taille:STD</h5></div>
                                    </div>
                                    <div class="cart_item_color cart_info_col">
                                        <div class="cart_item_title">Color</div>
                                        <div class="cart_item_text"><span style="background-color:#050101;"></span>noir</div>
                                    </div>
                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="cart_item_title">Quantity</div>
                                        <div class="cart_item_text">1</div>
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Price</div>
                                        <div class="cart_item_text">100TND</div>
                                    </div>
                                    <div class="cart_item_total cart_info_col">
                                        <div class="cart_item_title">Total</div>
                                        <div class="cart_item_text">100TND</div>
                                        <a href="/paiment"><button class="btn btn-info">
                                            payer
                                        </button></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
    
    
</div>
