<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-telephone-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
            />
          </svg>
          <span> +216 27 986 637 |</span>
        </li>
        <li class="nav-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
            />
          </svg>
          <span> chaimabenboubaker1@gmail.com</span>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              <span> Rechrcher |</span></a
            >
          </li>
          <li class="nav-item">
            <div class="dropdown" style="width: 150px">
              <a class="nav-link active dropdown-button" aria-current="page">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                </svg>
                <span *ngIf="notLoggedIn"> Me Connecter</span
                ><span *ngIf="loggedIn">{{ meNow }} {{ meNow2 }} </span></a
              >
              <div class="dropdown-content">
                <ul>
                  <li *ngIf="loginbtn">
                    <a style="color: black" routerLink="/signup"
                    >Se connecter</a
                    >
                  </li>
                  <li *ngIf="logoutbtn">
                    <a style="color: black" type="button" (click)="logout()">
                      Se Déconnecter
                    </a>
                  </li>
                  <li *ngIf="logoutbtn">
                    <a style="color: black" type="button" routerLink="/information">
                      Modifier compte
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a routerLink="/home">
      <img src="./assets/logo.png" width="150" height="100" />
    </a>
    <div id="svg" style="text-align: center; margin-right: 30px">
      <a href="/panier">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          fill="black"
          class="bi bi-bag-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"
          />
        </svg>
      </a>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="nav-bar-wrapper">
    <nav class="nav nav-pills nav-fill">
      <div class="dropdown">
        <a class="nav-link text-black dropdown-button" href="/home">ACCEUIL</a>
      </div>
      <div class="dropdown">
        <a class="nav-link text-black" aria-current="page" href="/shop"
        >NOUVELLE COLLECTION</a
        >
      </div>
      <div class="dropdown">
        <a class="nav-link text-black" aria-current="page" href="/shop"
        >SPORTSWEAR</a
        >
      </div>
      <div class="dropdown">
        <a class="nav-link text-black" aria-current="page" href="/shop">FEMME</a>
        <div class="dropdown-content">
          <ul>
            <li><a style="color: black" href="/shop">Robe</a></li>
            <li><a style="color: black" href="/shop">Chemise</a></li>
            <li><a style="color: black" href="/shop">Pantalon</a></li>
            <li><a style="color: black" href="/shop">Sac à main</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <a class="nav-link text-black" aria-current="page" href="/shop">HOMME</a>
        <div class="dropdown-content">
          <ul>
            <li><a style="color: black" href="/shop">pull</a></li>
            <li><a style="color: black" href="/shop">Chemise</a></li>
            <li><a style="color: black" href="/shop">pantalon</a></li>
            <li><a style="color: black" href="/shop">Mocassin</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
