.container {
  background-color: lightblue;
  left: 0;
  right: 0;
}

.dropdown-button {
  position: relative;
}

.dropdown {
  width: 200px;
}

.dropdown:hover {
  background: #7ad292;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}

.dropdown-button {
  word-wrap: break-word;
  word-break: break-word;
}

.dropdown-content {
  position: absolute;
  display: none;
  background: #7ad292;
  width: 100%;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-size: 0.9rem;
}